.movie__branch__details {
  .ant-skeleton-with-avatar
    .ant-skeleton-content
    .ant-skeleton-title
    + .ant-skeleton-paragraph.ant-skeleton-paragraph {
    margin-top: 0px;
  }
  .ant-skeleton-content.ant-skeleton-content.ant-skeleton-content {
    display: table-cell;
  }
  .ant-skeleton {
    padding-bottom: 20px;
  }
}

.movie__list__detail {
  .ant-skeleton-content.ant-skeleton-content.ant-skeleton-content {
    display: table-cell;
  }
}
